# VSCode
.vscode/

# CMake folder
build/

# CMake files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeSettings.json

# C++ 20 Moudle Cache
*.pcm

# configure file
/config.h

# disabled files
*.disabled
